<template>
  <v-container grid-list-xl text-center>
    <v-row class="float-right">
      <v-btn fab small title="Info">
        <v-icon size="12px">fas fa-info</v-icon>
      </v-btn>
    </v-row>
    <v-row class="float-left">
      <v-btn fab small class="mr-2" icon title="Import">
        <v-icon size="16px">fas fa-arrow-down</v-icon>
      </v-btn>
      <v-btn fab small class="ml-2 mr-2" icon title="Export">
        <v-icon size="16px">fas fa-external-link-alt</v-icon>
      </v-btn>
    </v-row>
    <v-row class="mt-16">
      <v-col cols="12">
        <v-data-table
          :headers="headersOne"
          :items="desserts"
          show-expand
          :single-expand="singleExpand"
          :expanded.sync="expanded"
          item-key="name"
          class="elevation-1"
        >
          <template v-slot:item.action="{ item }">
            <v-switch></v-switch>
          </template>

          <template v-slot:expanded-item="{ headersOne }" class="pl-40">
            <v-container fluid fill-height>
              <v-row>
                <v-col>
                  <v-data-table :headers="headersTwo" :items="details">
                    <template v-slot:top>
                      <v-toolbar flat color="white">
                        <v-toolbar-title>Details</v-toolbar-title>
                      </v-toolbar>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-container>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.plusSize {
  font-size: 10px;
}
</style>
<script>
export default {
  data: () => ({
    expanded: [],
    singleExpand: false,
    dialog: false,
    headersOne: [
      { text: "Capture Configuration Name", value: "name" },
      { text: "Description", value: "desc" },
      { text: "Status", value: "status" },
      { text: "In Service", value: "action", sortable: false }
    ],
    headersTwo: [
      { text: "Container", value: "container" },
      { text: "Fibre", value: "fibre" },
      { text: "Type", value: "type" },
      { text: "Plexus Input", value: "plexIn" },
      { text: "Trace", value: "trace" },
      { text: "Content", value: "content" },
      { text: "Capture", value: "capture" },
      { text: "Priority", value: "priority" }
    ],
    details: [
      {
        container: "VCAT-01",
        fibre: "E",
        type: "UNKNOWN_SIGNAL",
        plexIn: "",
        trace: "",
        content: "POS",
        capture: "Capture 1",
        priority: "2"
      },
      {
        container: "VCAT-02",
        fibre: "E",
        type: "UNKNOWN_SIGNAL",
        plexIn: "",
        trace: "",
        content: "POS",
        capture: "Capture 2",
        priority: "5"
      },
      {
        container: "VCAT-04",
        fibre: "E",
        type: "UNKNOWN_SIGNAL",
        plexIn: "",
        trace: "",
        content: "POS",
        capture: "Capture 1",
        priority: "3"
      },
      {
        container: "VCAT-06",
        fibre: "E",
        type: "UNKNOWN_SIGNAL",
        plexIn: "",
        trace: "",
        content: "POS",
        capture: "Capture 2",
        priority: "8"
      }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          name: "Group23",
          desc: "This is the descript you made",
          status: "Active"
        },
        {
          name: "MyGroup",
          desc: "Yup this is a description",
          status: "Active"
        },
        {
          name: "Group_90",
          desc: "This is real...a description",
          status: "Active"
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
