<template>
  <v-container grid-list-xl text-center>
    <v-row class="float-right">
      <v-btn fab small title="Info">
        <v-icon size="12px">fas fa-info</v-icon>
      </v-btn>
    </v-row>
    <v-row class="float-left"> 
      <v-btn fab small class=" mr-2" icon title="Import">
        <v-icon size="16px">fas fa-arrow-down</v-icon>
      </v-btn>
      <v-btn fab small class="ml-2 mr-2" icon title="Export">
        <v-icon size="16px">fas fa-external-link-alt</v-icon>
      </v-btn>
    </v-row>
    <v-row justify="center" class="mt-12">
      <v-col>
        <v-row align="start">
          <v-text-field label="Name" class="ml-6 mr-6"></v-text-field>
          <v-text-field label="Port" class="ml-6 mr-6"></v-text-field>
          <v-text-field label="Description" class="ml-6 mr-6"></v-text-field>
          <v-btn class="ml-6 mr-6 mt-3">Add</v-btn>
        </v-row>

        <v-col>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :rows-per-page-items="[20, 10, 30, 40]"
            class="elevation-1 cursor-pointer"
          ></v-data-table>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 1
      },
      headers: [
        { text: "Fibre Name", value: "name" },
        { text: "Power dBm", value: "power" },
        { text: "Port", value: "port" },
        { text: "Description", value: "desc" },
        { text: "Updated", value: "updated" }
      ],
      desserts: [
        {
          name: "A",
          power: -15,
          port: "/oxc/input/001 Connected to:p://primary/c0/p2/3",
          desc: "Blah Blah with something blah di blah",
          updated: "20170220-15:40:23.123"
        },
        {
          name: "B",
          power: -10,
          port: "/oxc/input/001 Connected to:p://primary/c0/p2/3",
          desc: "This is a great way to show a description",
          updated: "21032019-18:30:12.456"
        },
        {
          name: "C",
          power: -10,
          port: "/oxc/input/001 Connected to:p://primary/c0/p2/3",
          desc: "This says something about this it is beautiful",
          updated: "21032019-18:30:12.456"
        },
        {
          name: "D",
          power: -10,
          port: "/oxc/input/001 Connected to:p://primary/c0/p2/3",
          desc: "I have no clue what to say but a description is needed",
          updated: "21032019-18:30:12.456"
        },
        {
          name: "E",
          power: -15,
          port: "/oxc/input/001 Connected to:p://primary/c0/p2/3",
          desc: "Shall we this shall we that blah blah blah",
          updated: "21032019-18:30:12.456"
        }
      ]
    };
  }
};
</script>