<template>
  <v-navigation-drawer expand-on-hover permanent height="100%" class="shadow-md">
    <v-divider></v-divider>
    <v-list nav dense>
      <v-list-item v-for="item in navItems" :key="item.title" link>
        <v-list-item-icon class="text-center">
          <v-icon :style="{ fontSize: item.class + 'px' }">{{item.icon}}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{item.title}}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  data() {
    return {
      drawer: null,
      navItems: [
        { title: "Home", icon: "fas fa-home", fontSize: "15", class: "" },
        { title: "About", icon: "fas fa-info-circle", class: "" },
        { title: "System Configuration", icon: "fas fa-cogs", class: "" },
        { title: "Fibre", icon: "fas fa-network-wired", class: "" },
        { title: "Satellite", icon: "fas fa-satellite", class: "" },
        { title: "Signals/Containers", icon: "fas fa-signal", class: "" },
        { title: "Capture", icon: "fas fa-boxes", class: "" },
        { title: "Capture Configuration", icon: "fas fa-box", class: "12" },
        { title: "Capture Status", icon: "fas fa-box", class: "12" },
        { title: "System Health", icon: "fas fa-heart", class: "" },
        { title: "Preferences", icon: "fas fa-ellipsis-v", class: "" }
      ]
    };
  }
};
</script>