<template>
  <v-sheet height="100%">
      <v-layout class="m-4">
        <v-btn @click.stop="drawer = !drawer"><v-icon class="icons">fas fa-bars</v-icon>Menu</v-btn>
      </v-layout>

    <v-navigation-drawer v-model="drawer" absolute temporary>

      <v-divider></v-divider>
      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-sheet>
</template>
<script>
  export default {
    data () {
      return {
        drawer: null,
        items: [
          { title: 'Home', icon: 'fas fa-home' },
          { title: 'About', icon: 'question_answer' },
        ],
      }
    },
  }
</script>
