<template >
  <v-card v-el="right" v-if="viewMenu" @blur="closeMenu()">
    <v-list dense>
      <v-list-item-group color="primary">
        <v-list-item v-for="(item, i) in items" :key="i">
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>
<script>
export default {
  data() {
    return {
      viewMenu: false,
      top: "0px",
      left: "0px",
      item: 1,
      items: [{ text: "Edit" }, { text: "Delete" }, { text: "Cancel" }]
    };
  },
  methods: {
    setMenu: function(top, left) {
      largestHeight = window.innerHeight - this.$$.right.offsetHeight - 25;
      largestWidth = window.innerWidth - this.$$.right.offsetWidth - 25;

      if (top > largestHeight) top = largestHeight;

      if (left > largestWidth) left = largestWidth;

      this.top = top + "px";
      this.left = left + "px";
    },

    closeMenu: function() {
      this.viewMenu = false;
    },

    openMenu: function(e) {
      this.viewMenu = true;

      Vue.nextTick(
        function() {
          this.$$.right.focus();

          this.setMenu(e.y, e.x);
        }.bind(this)
      );
      e.preventDefault();
    }
  }
};
</script>