<template>
  <v-container grid-list-xl text-center>
    <v-row class="float-right">
      <v-btn fab small><v-icon size="12px">fas fa-info</v-icon></v-btn>
    </v-row>
    <v-layout wrap>
      <v-flex xs3>
        <v-card class="p-6" style="height: 630px;">
          <v-text-field label="Component Name"></v-text-field>
          <v-combobox v-model="select" :items="items" label="Component Type"></v-combobox>
          <v-textarea name="input-7-1" label="Description"></v-textarea>
          <v-text-field label="IP address"></v-text-field>
          <span>Login:</span>
          <v-text-field label="Username"></v-text-field>
          <v-text-field label="Password"></v-text-field>
          <v-btn class="m-2">Add</v-btn>
          <v-btn class="m-2">Clear</v-btn>
        </v-card>
      </v-flex>

      <v-flex xs9>
        <v-card class="flex-wrap flex content-start">
          <v-flex xs4 v-for="item in configs" :key="item.title">
            <v-card class="text-left hover:shadow-xl cursor-pointer">
              <v-btn icon class="float-right m-2" @click="showMenu()">
                <v-icon>fas fa-ellipsis-h</v-icon>
              </v-btn>
              <v-card-title>{{item.name}}</v-card-title>
              <v-card-text>{{item.type}}</v-card-text>
              <v-card-text>{{item.description}}</v-card-text>
              <v-card-text>{{item.ip}}</v-card-text>
            </v-card>
          </v-flex>

          <v-card class="h-40 pt-4" v-if="viewMenu">
            <v-list dense>
              <v-list-item-group color="primary">
                <v-list-item v-for="(item, i) in items" :key="i" @click="hideMenu()">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.text"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import RightClick from "../components/RightClick";

export default {
  components: {
    RightClick
  },
  data() {
    return {
      viewMenu: false,
      configs: [
        {
          name: "SpecialConfig",
          type: "FFE",
          description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est lacus, sodales at est ac, luctus rhoncus quam. Donec nibh sem, vulputate non lacinia porta, hendrerit posuere mi. Cras eget mattis ligula.",
          ip: "41.193.221.135"
        },
        {
          name: "Config123",
          type: "SSE",
          description:
            "Ut accumsan hendrerit mauris, sit amet ullamcorper lacus blandit eget. Suspendisse faucibus viverra lacus, non consectetur odio.",
          ip: "31.193.221.135"
        },
        {
          name: "MYSystem",
          type: "CS",
          description:
            "Aliquam erat volutpat. Aenean iaculis auctor arcu semper rhoncus. Maecenas ex leo, imperdiet a orci ut, malesuada accumsan nunc.",
          ip: "31.178.231.135"
        },
        {
          name: "4System",
          type: "FFE",
          description:
            "Ut condimentum porta interdum. Nulla eget ante malesuada, vehicula libero quis, commodo nisl. Donec malesuada dolor odio.",
          ip: "53.176.148.135"
        }
      ],
      item: 1,
      items: [{ text: "Edit" }, { text: "Delete" }, { text: "Cancel" }]
    };
  },
  methods: {
    setMenu: function(top, left) {
      this.top = "-" + top + "px";
      this.left = "-" + left + "px";
    },
    showMenu: function(e) {
      this.viewMenu = true;
      var x = event.pageX;
      var y = event.pageY;

      this.setMenu(y, x);
    },
    hideMenu: function(e) {
      this.viewMenu = false;
    }
  }
};
</script>
