<template>
  <v-container grid-list-xl text-center>
    <v-row class="float-right mb-3">
      <v-btn fab small title="Info">
        <v-icon size="12px">fas fa-info</v-icon>
      </v-btn>
    </v-row>
    <v-row class="float-left">
      <v-btn fab small class="mr-2" icon title="Import">
        <v-icon size="16px">fas fa-arrow-down</v-icon>
      </v-btn>
      <v-btn fab small class="ml-2 mr-2" icon title="Export">
        <v-icon size="16px">fas fa-external-link-alt</v-icon>
      </v-btn>
    </v-row>
    <v-form v-model="valid" class="mt-16">
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }" class>
          <v-btn class="mt-2 float-right" v-on="on">Filter</v-btn>
        </template>
        <v-card>
          <v-btn class="ma-2 float-right" tile outlined>
            <v-icon left class="plusSize">fas fa-times</v-icon>Close
          </v-btn>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-combobox v-model="select" :items="filters" label="Filters"></v-combobox>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-combobox v-model="select" :items="fibre" label="Fibre" multiple chips>
                    <template v-slot:selection="data">
                      <v-chip
                        :key="JSON.stringify(data.item)"
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        :disabled="data.disabled"
                        @click:close="data.parent.selectItem(data.item)"
                      >
                        <v-avatar
                          class="accent white--text"
                          left
                          v-text="data.item.slice(0, 1).toUpperCase()"
                        ></v-avatar>
                        {{ data.item }}
                      </v-chip>
                    </template>
                  </v-combobox>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-combobox v-model="select" :items="type" label="Type" multiple chips>
                    <template v-slot:selection="data">
                      <v-chip
                        :key="JSON.stringify(data.item)"
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        :disabled="data.disabled"
                        @click:close="data.parent.selectItem(data.item)"
                      >
                        <v-avatar
                          class="accent white--text"
                          left
                          v-text="data.item.slice(0, 1).toUpperCase()"
                        ></v-avatar>
                        {{ data.item }}
                      </v-chip>
                    </template>
                  </v-combobox>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-combobox v-model="select" :items="severity" label="Severity" multiple chips>
                    <template v-slot:selection="data">
                      <v-chip
                        :key="JSON.stringify(data.item)"
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        :disabled="data.disabled"
                        @click:close="data.parent.selectItem(data.item)"
                      >
                        <v-avatar
                          class="accent white--text"
                          left
                          v-text="data.item.slice(0, 1).toUpperCase()"
                        ></v-avatar>
                        {{ data.item }}
                      </v-chip>
                    </template>
                  </v-combobox>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <span>Time</span>
                  <v-checkbox v-model="selected" label="All-Time"></v-checkbox>
                  <v-menu
                    ref="menuFrom"
                    v-model="menuFrom"
                    :close-on-content-click="false"
                    :return-value.sync="dateFrom"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="dateFrom"
                        label="From"
                        prepend-icon="fas fa-calendar-alt"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="dateFrom" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menuFrom = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.menuFrom.save(dateFrom)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                  <v-menu
                    ref="menuTo"
                    v-model="menuTo"
                    :close-on-content-click="false"
                    :return-value.sync="dateTo"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="dateTo"
                        label="To"
                        prepend-icon="fas fa-calendar-alt"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="dateTo" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menuTo = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.menuTo.save(dateTo)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col>
                  <v-btn class="ma-2 float-left" tile outlined>
                    <v-icon left class="plusSize">fas fa-trash</v-icon>Delete Filter
                  </v-btn>
                  <v-btn class="ma-2" tile outlined>
                    <v-icon left class="plusSize">fas fa-save</v-icon>Save Filter
                  </v-btn>
                </v-col>
              </v-row>
              <v-divider></v-divider>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Reset</v-btn>
            <v-btn color="blue darken-1" text @click="save">Filter</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-form>

    <v-row class="mt-12">
      <v-col cols="12" md="4">
        <v-data-iterator
          :items="alarms"
          item-key="type"
          :items-per-page="4"
          :single-expand="expand"
          hide-default-footer
        >
          <template v-slot:default="{ items, isExpanded, expand }">
            <v-card class="p-3">
              <v-card-title>
                <h4>Alarms</h4>
              </v-card-title>
              <v-switch
                :input-value="isExpanded(item)"
                :label="isExpanded(item) ? 'Hide' : 'Show'"
                class="pl-4 mt-0"
                @change="(v) => expand(item, v)"
              ></v-switch>
              <v-divider></v-divider>
              <v-list v-if="isExpanded(item)" dense>
                <div v-for="item in alarms" :key="item.type">
                  <v-list-item v-bind:class="item.color">
                    <v-list-item-content>Type:</v-list-item-content>
                    <v-list-item-content class="align-end">{{ item.type }}</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-start">{{ item.message }}</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>Time:</v-list-item-content>
                    <v-list-item-content class="align-end">{{ item.time }}</v-list-item-content>
                  </v-list-item>
                  <v-divider></v-divider>
                </div>
              </v-list>
            </v-card>
          </template>
        </v-data-iterator>
      </v-col>
      <v-col cols="12" md="4">
        <v-data-iterator
          :items="events"
          item-key="type"
          :items-per-page="4"
          :single-expand="expand"
          hide-default-footer
        >
          <template v-slot:default="{ items, isExpanded, expand }">
            <v-card class="p-3">
              <v-card-title>
                <h4>Events</h4>
              </v-card-title>
              <v-switch
                :input-value="isExpanded(item)"
                :label="isExpanded(item) ? 'Hide' : 'Show'"
                class="pl-4 mt-0"
                @change="(v) => expand(item, v)"
              ></v-switch>
              <v-divider></v-divider>
              <v-list v-if="isExpanded(item)" dense>
                <div v-for="item in events" :key="item.type">
                  <v-list-item v-bind:class="item.color">
                    <v-list-item-content>Type:</v-list-item-content>
                    <v-list-item-content class="align-end">{{ item.type }}</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-start">{{ item.message }}</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>Time:</v-list-item-content>
                    <v-list-item-content class="align-end">{{ item.time }}</v-list-item-content>
                  </v-list-item>
                  <v-divider></v-divider>
                </div>
              </v-list>
            </v-card>
          </template>
        </v-data-iterator>
      </v-col>
      <v-col cols="12" md="4">
        <v-data-iterator
          :items="logs"
          item-key="type"
          :items-per-page="4"
          :single-expand="expand"
          hide-default-footer
        >
          <template v-slot:default="{ items, isExpanded, expand }">
            <v-card class="p-3">
              <v-card-title>
                <h4>Logs</h4>
              </v-card-title>
              <v-switch
                :input-value="isExpanded(item)"
                :label="isExpanded(item) ? 'Hide' : 'Show'"
                class="pl-4 mt-0"
                @change="(v) => expand(item, v)"
              ></v-switch>
              <v-divider></v-divider>
              <v-list v-if="isExpanded(item)" dense>
                <div v-for="item in logs" :key="item.type">
                  <v-list-item v-bind:class="item.color">
                    <v-list-item-content>Type:</v-list-item-content>
                    <v-list-item-content class="align-end">{{ item.type }}</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content class="text-start">{{ item.message }}</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>Time:</v-list-item-content>
                    <v-list-item-content class="align-end">{{ item.time }}</v-list-item-content>
                  </v-list-item>
                  <v-divider></v-divider>
                </div>
              </v-list>
            </v-card>
          </template>
        </v-data-iterator>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.plusSize {
  font-size: 10px;
}
</style>
<script>
export default {
  data: () => ({
    item: 0,
    expand: false,
    alarms: [
      {
        type: "Warning",
        message:
          "Capture Failure: Container C: VC4-00 should  flow to 12. Actual: []",
        time: "20170220-15:40:23.123",
        color: "bg-orange-500"
      },
      {
        type: "Critical",
        message:
          "Capture Failure: Container B: VC4-00 should  flow to 1. Actual: []",
        time: "20170220-15:40:23.123",
        color: "bg-red-500"
      },
      {
        type: "Info",
        message: "A new fibre is detected, but has not bee named",
        time: "20170220-15:40:23.123",
        color: "bg-blue-400"
      }
    ],
    events: [
      {
        type: "Warning",
        message:
          "Capture Failure: Container C: VC4-00 should  flow to 12. Actual: []",
        time: "20170220-15:40:23.123",
        color: "bg-orange-500"
      },
      {
        type: "Critical",
        message:
          "Capture Failure: Container B: VC4-00 should  flow to 1. Actual: []",
        time: "20170220-15:40:23.123",
        color: "bg-red-500"
      }
    ],
    logs: [
      {
        type: "Warning",
        message:
          "Capture Failure: Container C: VC4-00 should  flow to 12. Actual: []",
        time: "20170220-15:40:23.123",
        color: "bg-orange-500"
      },
      {
        type: "Info",
        message: "A new fibre is detected, but has not bee named",
        time: "20170220-15:40:23.123",
        color: "bg-blue-400"
      }
    ],
    dateFrom: new Date().toISOString().substr(0, 10),
    dateTo: new Date().toISOString().substr(0, 10),
    menu: false,
    modal: false,
    menu2: false,
    e1: 1,
    selected: [],
    search: "",
    dialog: false,
    filters: ["Filter23", "Feather", "Flower"],
    fibre: ["A", "B", "D", "E"],
    type: ["Alarms", "Events", "Logs"],
    severity: ["Critical", "Warning", "Info"],
    headers: [
      { text: "Name", value: "name" },
      { text: "Description", value: "desc" },
      { text: "Fibre", value: "fibre" },
      { text: "Type", value: "type" },
      { text: "Plexus Input", value: "pInput" },
      { text: "Trace", value: "trace" },
      { text: "Content", value: "content" },
      { text: "Capture", value: "capture" },
      { text: "Priority", value: "priority" },
      { text: "Status", value: "status" },
      { text: "Updated", value: "update" }
    ],
    desserts: [],
    history: [],
    editedIndex: -1,
    editedItem: {
      id: 0,
      name: "",
      desc: "",
      fibre: "",
      type: "",
      pInput: "",
      trace: "",
      content: "",
      capture: "",
      priority: 0,
      status: "",
      update: ""
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          id: 1,
          name: "VC4-00",
          desc: "Koos",
          fibre: "C",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 1,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 2,
          name: "VC4-01",
          desc: "shshshshskl nckmcks",
          fibre: "C",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 2",
          priority: 2,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 3,
          name: "VCAT-05",
          desc: "jfdfnjd fdjfd",
          fibre: "E",
          type: "UNKNOWN_SIGNAL",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 5,
          status: "Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 4,
          name: "VCAT-06",
          desc: "jdjdjd",
          fibre: "E",
          type: "UNKNOWN_SIGNAL",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 2",
          priority: 3,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 5,
          name: "VC4-00",
          desc: "jdspsklf",
          fibre: "D",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 4,
          status: "Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 6,
          name: " VC4-01",
          desc: "vfvfvfvfvfvfv",
          fibre: "D",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 7,
          status: "Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 7,
          name: "VC4-00",
          desc: "vfvfvnfi j",
          fibre: "B",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 2",
          priority: 8,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        }
      ];
      this.history = [
        {
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus quam sit amet porttitor porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
        },
        {
          text:
            "Ut commodo hendrerit facilisis. Nam dui neque, aliquet a urna ut, scelerisque sodales nisi. Etiam non risus porta, mattis purus vel, efficitur ligula."
        },
        {
          text:
            "Maecenas molestie eleifend ex et pretium. Suspendisse sed enim turpis. Fusce non lectus at ipsum imperdiet sodales. "
        },
        {
          text:
            "Sed interdum mi lectus, vitae mattis augue hendrerit ac. Aliquam diam felis, tempus ac congue in, venenatis dignissim lacus. Vivamus ligula ipsum, lacinia vitae ex ac, ultrices faucibus risus. "
        },
        {
          text:
            "Sed egestas risus non tincidunt efficitur. Donec dapibus quam massa, sit amet vestibulum ante maximus id. Donec pretium elementum gravida."
        },
        {
          text:
            "Proin vel nulla nec erat vestibulum tincidunt laoreet ac nisi. Cras nec tempor ligula. Aliquam egestas ut velit a luctus. Vivamus et ipsum ac massa ultricies dictum in et est."
        },
        {
          text:
            "Maecenas porttitor elementum massa et fermentum. Mauris eu scelerisque arcu, nec pharetra libero. "
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
