<template>
  <v-container grid-list-xl text-center>
    <!-- <v-alert type="success">
      I'm a success alert.
    </v-alert> -->
    <v-row class="float-right">
      <v-btn fab small title="Info">
        <v-icon size="12px">fas fa-info</v-icon>
      </v-btn>
    </v-row>
    <v-row class="float-left">
      <v-btn fab small class="mr-2" icon title="Import">
        <v-icon size="16px">fas fa-arrow-down</v-icon>
      </v-btn>
      <v-btn fab small class="ml-2 mr-2" icon title="Export">
        <v-icon size="16px">fas fa-external-link-alt</v-icon>
      </v-btn>
    </v-row>
    <v-stepper v-model="e1" class="mt-16 mb-6">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">Please Select Containers/Signals</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">Confirm Capture Configuration</v-stepper-step>

        <v-divider></v-divider>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-text-field
            class="w-1/3 mb-4"
            v-model="search"
            append-icon="fas fa-search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-data-table
            v-model="selected"
            :search="search"
            :headers="headers"
            :items="desserts"
            show-expand
            show-select
            item-key="id"
            class="elevation-1"
          >
            <template v-slot:expanded-item="{ headers }">
              <td
                :colspan="history.length"
              >Ut commodo hendrerit facilisis. Nam dui neque, aliquet a urna ut, scelerisque sodales nisi. Etiam non risus porta, mattis purus vel, efficitur ligula.</td>
            </template>

            <template v-slot:top>
              <v-toolbar flat color="white">
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                      <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">fas fa-edit</v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
          </v-data-table>

          <v-btn class="float-left mt-4 mb-4" color="primary" @click="e1 = 2">Next</v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-text-field class="w-1/3 mb-4" label="Name" ></v-text-field>
          <v-textarea
            name="input-7-1"
            label="Description"
            class="w-1/3"
          ></v-textarea>
          <v-data-table
            :headers="headers"
            :items="desserts"
            show-expand
            item-key="id"
            class="elevation-1"
          >
            <template v-slot:expanded-item="{ headers }">
              <td
                :colspan="history.length"
              >Ut commodo hendrerit facilisis. Nam dui neque, aliquet a urna ut, scelerisque sodales nisi. Etiam non risus porta, mattis purus vel, efficitur ligula.</td>
            </template>

            <template v-slot:top>
              <v-toolbar flat color="white">
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                      <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <template v-slot:item.action="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">fas fa-edit</v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
          </v-data-table>

          <v-btn class="m-1 mt-4 float-left" color="primary" @click="e1 = 1">Save</v-btn>
          <v-btn class="m-1 mt-4 float-left" text @click="e1 = 1">Back</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    e1: 1,
    selected: [],
    search: "",
    dialog: false,
    headers: [
      { text: "Name", value: "name" },
      { text: "Description", value: "desc" },
      { text: "Fibre", value: "fibre" },
      { text: "Type", value: "type" },
      { text: "Plexus Input", value: "pInput" },
      { text: "Trace", value: "trace" },
      { text: "Content", value: "content" },
      { text: "Capture", value: "capture" },
      { text: "Priority", value: "priority" },
      { text: "Status", value: "status" },
      { text: "Updated", value: "update" }
    ],
    desserts: [],
    history: [],
    editedIndex: -1,
    editedItem: {
      id: 0,
      name: "",
      desc: "",
      fibre: "",
      type: "",
      pInput: "",
      trace: "",
      content: "",
      capture: "",
      priority: 0,
      status: "",
      update: ""
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          id: 1,
          name: "VC4-00",
          desc: "Koos",
          fibre: "C",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 1,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 2,
          name: "VC4-01",
          desc: "shshshshskl nckmcks",
          fibre: "C",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 2",
          priority: 2,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 3,
          name: "VCAT-05",
          desc: "jfdfnjd fdjfd",
          fibre: "E",
          type: "UNKNOWN_SIGNAL",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 5,
          status: "Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 4,
          name: "VCAT-06",
          desc: "jdjdjd",
          fibre: "E",
          type: "UNKNOWN_SIGNAL",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 2",
          priority: 3,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 5,
          name: "VC4-00",
          desc: "jdspsklf",
          fibre: "D",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 4,
          status: "Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 6,
          name: " VC4-01",
          desc: "vfvfvfvfvfvfv",
          fibre: "D",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 1",
          priority: 7,
          status: "Active",
          update: "11022017-12:12:45.690"
        },
        {
          id: 7,
          name: "VC4-00",
          desc: "vfvfvnfi j",
          fibre: "B",
          type: "VC4",
          pInput: "",
          trace: "",
          content: "POS",
          capture: "Capture 2",
          priority: 8,
          status: "Not Active",
          update: "11022017-12:12:45.690"
        }
      ];
      this.history = [
        {
          text:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus quam sit amet porttitor porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
        },
        {
          text:
            "Ut commodo hendrerit facilisis. Nam dui neque, aliquet a urna ut, scelerisque sodales nisi. Etiam non risus porta, mattis purus vel, efficitur ligula."
        },
        {
          text:
            "Maecenas molestie eleifend ex et pretium. Suspendisse sed enim turpis. Fusce non lectus at ipsum imperdiet sodales. "
        },
        {
          text:
            "Sed interdum mi lectus, vitae mattis augue hendrerit ac. Aliquam diam felis, tempus ac congue in, venenatis dignissim lacus. Vivamus ligula ipsum, lacinia vitae ex ac, ultrices faucibus risus. "
        },
        {
          text:
            "Sed egestas risus non tincidunt efficitur. Donec dapibus quam massa, sit amet vestibulum ante maximus id. Donec pretium elementum gravida."
        },
        {
          text:
            "Proin vel nulla nec erat vestibulum tincidunt laoreet ac nisi. Cras nec tempor ligula. Aliquam egestas ut velit a luctus. Vivamus et ipsum ac massa ultricies dictum in et est."
        },
        {
          text:
            "Maecenas porttitor elementum massa et fermentum. Mauris eu scelerisque arcu, nec pharetra libero. "
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
