<template>
  <v-app>
    <v-card class="shadow-md">
      <v-card-text>
        <div class="text-4xl font-sans mt-2">
          <span class="pl-4">SAM</span>
          <v-icon class="pl-4 icons">fas fa-angle-right</v-icon>
          <span class="pl-4 text-xl">Home</span>
          <v-btn icon class="float-right mb-3" style="margin-top:-10px;">
            <v-icon title="Logout">fas fa-sign-out-alt</v-icon>
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
    <!-- <NavbarLeftButton/> -->
    <v-layout fill-height>
      <NavbarLeft />
      <!-- <SConfig /> -->
      <!-- <Fibre /> -->
      <SignalContainer />
      <!-- <SHealth /> -->
      <!-- <CaptureConfig /> -->
    </v-layout>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import NavbarLeftButton from "./components/NavbarLeftButton.vue";
import NavbarLeft from "./components/NavbarLeft.vue";
import SConfig from "./components/SConfig.vue";
import Fibre from "./components/Fibre.vue";
import RightClick from "./components/RightClick.vue";
import SignalContainer from "./components/SignalContainer.vue";
import SHealth from "./components/SHealth.vue";
import CaptureConfig from "./components/CaptureConfig.vue";

export default Vue.extend({
  name: "App",
  components: {
    NavbarLeftButton,
    NavbarLeft,
    SConfig,
    Fibre,
    SignalContainer,
    RightClick,
    SHealth,
    CaptureConfig
  },
  data: () => ({
    //
  })
});
</script>

<style>
.icons {
  font-size: 15px !important;
  padding: 6px !important;
}
</style>